{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="center">{{ orgtext }}</h4>
        <!-- Progress Bars -->
        <h5>Sadness <span id="sadnessPercentage">{{probs_dict["sadness"]}}</span>%</h5>
        <div class="progress">
            <div class="determinate indigo" style="width: 0%" data-label="(0) Sadness" id="sadnessBar"></div>
        </div>
        <h5>Joy <span id="joyPercentage">{{probs_dict["joy"]}}</span>%</h5>
        <div class="progress">
            <div class="determinate yellow lighten-1" style="width: 0%" data-label="(1) Joy" id="joyBar"></div>
        </div>
        <h5>Love <span id="lovePercentage">{{probs_dict["love"]}}</span>%</h5>
        <div class="progress">
            <div class="determinate pink lighten-1" style="width: 0%" data-label="(2) Love" id="loveBar"></div>
        </div>
        <h5>Anger <span id="angerPercentage">{{probs_dict["anger"]}}</span>%</h5>
        <div class="progress">
            <div class="determinate red lighten-1" style="width: 0%" data-label="(3) Anger" id="angerBar"></div>
        </div>
        <h5>Fear <span id="fearPercentage">{{probs_dict["fear"]}}</span>%</h5>
        <div class="progress">
            <div class="determinate green lighten-1" style="width: 0%" data-label="(4) Fear" id="fearBar"></div>
        </div>
        <h5>Surprise <span id="surprisePercentage">{{probs_dict["surprise"]}}</span>%</h5>
        <div class="progress">
            <div class="determinate purple lighten-1" style="width: 0%" data-label="(5) Surprise" id="surpriseBar"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Submit Button for "/" Route -->
<div class="center">
  <form action="/" method="GET">
    <button class="btn waves-effect waves-light black" type="submit">Reset</button>
  </form>
</div>

<script>
  // Update progress bars with percentages
  document.getElementById("sadnessBar").style.width = document.getElementById("sadnessPercentage").textContent + "%";
  document.getElementById("joyBar").style.width = document.getElementById("joyPercentage").textContent + "%";
  document.getElementById("loveBar").style.width = document.getElementById("lovePercentage").textContent + "%";
  document.getElementById("angerBar").style.width = document.getElementById("angerPercentage").textContent + "%";
  document.getElementById("fearBar").style.width = document.getElementById("fearPercentage").textContent + "%";
  document.getElementById("surpriseBar").style.width = document.getElementById("surprisePercentage").textContent + "%";
</script>


{% endblock %}
