<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emotions</title>
  <!-- Import Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Link to your separate CSS file -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- Materialize Navbar -->
  <nav class="black">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">X mockup</a>
    </div>
  </nav>

  <!-- Content Section -->
  <div class="container">
    <div class="row">
      <div class="col s12">
        <!-- Centered Text Area -->
        <h1 class="center">Emotions</h1>
        {% block content %}
        <div class="col s12 m6 offset-m3"> <!-- This will take up 6 columns on medium-sized screens and is centered -->
          <div class="input-field">
            <textarea id="textarea1" class="materialize-textarea black-text"></textarea>
            <label for="textarea1" class="center">Enter your text here</label>
          </div>
          <!-- Submit Button -->
          <div class="center">
            <button class="btn waves-effect waves-light black" type="submit" name="action" onclick="redirectToEmotions()">Submit</button>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  

  <!-- Import Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- JavaScript for redirecting to "/emotions" route -->
  <script>
    function redirectToEmotions() {
      window.location.href = "/emotions";
    }
  </script>
  <script>
    function sendData() {
      // Get input value from textarea
      var inputText = document.getElementById('inputJson').value;

      // Send input data to Flask server using AJAX
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/classify', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        if (xhr.status == 200) {
          // Handle successful response
          console.log(xhr.responseText);
        } else {
          // Handle error
          console.error('Request failed. Error code: ' + xhr.status);
        }
      };
      xhr.send(JSON.stringify({input: inputText}));
      window.location.href = "/classify";
    }
  </script>
</body>
</html>